* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif ;
  background: white;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(209, 34%, 30%);;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* btn */
.btn {
  text-transform: uppercase;
  background: #00BCD4;
  color: hsl(185, 94%, 87%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
.btn:hover {
  color: hsl(184, 91%, 17%);
  background: hsl(184, 80%, 74%);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */
.section {
  padding: 3rem 0;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
  align-items: inherit;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 80vw;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
  }
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #00BCD4;;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-grey {
  background: hsl(210, 36%, 96%);
}

/* navbar */
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: white;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #00BCD4;
  cursor: pointer;
  transition: all 0.3s linear;
}
.toggle-btn:hover {
  color: #00838F;
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: hsl(209, 61%, 16%);
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 0.3s linear;
    padding: 0.5rem 0;
  }
  .nav-links a:hover {
    color: #00BCD4;
    box-shadow: 0px 2px #00BCD4;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}

/* hero */

.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background: hsl(186, 100%, 94%);
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  background: hsl(186, 100%, 94%);
  justify-self: center;
  grid-row: 2/2;
  grid-column: 6/-1;
}
.hero-img {
  display: block;
  grid-row: 1/1;
  grid-column: 6/-1;
  min-width: 225px;
  justify-items: center;
}
.hero-info h1 {
  font-size: 1.5rem;
}
.hero-info h4 {
  color: hsl(210, 22%, 49%);
  margin-top: auto;
}
.hero-icons {
  justify-items: center;
}
.hero .btn {
  margin-top: 0.75rem;
}

@media screen and (min-width: 568px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 7;
    size: 1rem;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
    min-width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 7;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
    min-width: 300px;

  }
}

@media screen and (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: white;
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }
  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
    min-width: 400px;
  }
}

@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

/* social links */
.social-links {
  margin-top: 1rem;
  width: 10rem;
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: auto auto 0 0;
}
.social-link {
  font-size: 1.75rem;
  color: hsl(209, 61%, 16%);
  transition: all 0.3s linear;
}
.social-link:hover {
  color: #00838F;
}

.service {
  background: white;
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service p {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service:hover {
  background: #00BCD4;
  color: hsl(185, 94%, 87%);
}
.service:hover p {
  color: hsl(185, 94%, 87%);
}
.service:hover .underline {
  background: hsl(185, 94%, 87%);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
  jobs
*/

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
}
.job-btn:hover {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.active-btn {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.job-info {
  /* min-height: 420px; */
}
.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: hsl(210, 22%, 49%);
  background: hsl(212, 33%, 89%);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.job-date {
  letter-spacing: 0.2rem;
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: hsl(209, 28%, 39%);
}
.job-icon {
  color: #2caeba;
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 #2caeba;
  }
  .job-btn:hover {
    box-shadow: -2px 0 #2caeba;
  }
}

/*
Projects
*/
.projects {
  background: hsl(210, 36%, 96%);
}
.project {
  display: grid;
  margin-bottom: 4rem;
}
.project-img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 19rem;
  z-index: 1;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #2caeba, #222);
  opacity: 0.85;
  transition: all 0.3s linear;
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: white;
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: #2caeba;
  margin-bottom: 0.75rem;
}
.project-info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.project-desc {
  word-spacing: 5px;
  color: hsl(209, 34%, 30%);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
  display: inline-block;
  background:  hsl(212, 33%, 89%);
  color: hsl(210, 22%, 49%);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.project-icon {
  color: #2caeba;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: all 0.3s linear;
}
.project-icon:hover {
  color:  hsl(184, 91%, 17%);
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    /* grid-column-end: 8; */
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);;
  }
  .project-info {
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);;

    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

/*
  Footer
*/

.footer {
  height: 9rem;
  background: #222;
  text-align: center;
  display: grid;
  align-content: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: #2caeba;
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: white;
}
.footer .social-link:hover {
  color: #2caeba;
}

/*
  sidebar
*/

.sidebar {
  background: hsl(210, 36%, 96%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: hsl(210, 22%, 49%);
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}
.sidebar-links li a:hover {
  background: hsl(185, 94%, 87%);
  color: #2caeba;
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: hsl(210, 22%, 49%);
  cursor: pointer;
}
.close-btn:hover {
  color: hsl(360, 67%, 44%);
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
  margin: 2rem 0 0 auto;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}